body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkgrey;
    /* background: linear-gradient(0deg, rgb(34, 34, 34) 0%, rgb(41, 41, 41) 70%, rgb(134, 134, 134) 100%); */
    background: url(/assets/img/fundo2.png) 
    -15% 15% / 4% auto repeat fixed padding-box 
    border-box rgb(39, 39, 39);
    margin: 0;
    text-align: justify;
}

/* Definições do menu */
#menu {
    background-color: rgb(68, 68, 68);
    padding-top: 5px;
}

#menu ul{
    background-color: rgb(68, 68, 68);
}

#menu li {
    display: inline;
    padding: 15px;
    margin-top: 16px;   
    transition: 0.5s; 
}

#menu a {
    text-decoration: none;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    padding: 10px 20px;
    color:rgb(74, 192, 247);
    transition: 0.3s;
}

#menu li a:hover {
    color: rgb(34, 34, 34);
    background-color: rgb(74, 192, 247);
}

/* Definições do main (onde fica o texto de fato) */
#main {
    background: rgba(39, 39, 39, 0.95); /* primeira cor do gradiente */
    background: linear-gradient(0deg, rgb(34, 34, 34, 0.95) 0%, rgb(41, 41, 41, 0.95) 70%, rgb(134, 134, 134, 0.95) 100%);
    margin: 0 10% 1% 10%;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    font-size: 1.2rem;
}

/* Boas práticas: colocar comentários indicando o que é cada coisa. Atalho: ctrl + ;*/
/* Títulos */
h1 {
    color: #d1155d;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
    transition: 0.5s ease-out;
}
h1:hover{
    color:rgb(65, 169, 218);
}

h4 {
    font-size: large;
    font-weight: normal;
}

ul { /* Possível colocar mais de um seletor de uma vez*/
    font-size: 1.125rem;
    align-items: right;
}
/* rem é uma unidade de medida meio padrão da fonte, sendo que 1rem é 16px  (pelo menos no desktop) */

a {
    color: #ffffff;
    text-decoration: none; /* tirando o sublinhado do link */
    transition: 0.3s;
}
a:hover{
    color:rgb(65, 169, 218);
}

footer {
    color: rgb(173, 173, 173);
}

hr {
    border-color: rgb(173, 173, 173);
    color: rgb(173, 173, 173)
}

span {
    font-weight: bold;
}

.imagem {
    transition: 0.4s ease-out;

}

.imagem:hover{
    border-radius: 200px;
      
}

.borda {
    padding: 0.5%;
    border: 2px solid #fff;
}

.flex-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-container > div {
    padding-bottom: 20px;
}

.videos {
    flex-flow: row wrap;
}

.bloco {
    display: flex;
    align-items: center;
}

.bloco > div {
    flex-flow: row wrap;
    margin: 0 30px;
    
}

/* Configuração do rodapé */
.rodape01 {
    background-color: rgba(255, 255, 255, 0.904);
    color:black;
    padding: 0.8%;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.rodape02 {
    background-color: rgba(255, 255, 255, 0.904);
    color:black;
    padding: 0% 0.8% 0.8% 0.8%;
    display: flex;
    margin: 0;
    flex-flow: column;
}
.rodape02 > hr {
    margin-bottom: 1px;
}



